/* Colors and fonts */
body {
   background: rgb(0, 80, 0); 
   color: rgb(50, 50, 50);
   font-family: 'Roboto', sans-serif;
}; 
   font-size: 17px;
}
h1, h2, h3 {
   font-family: <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">;
}

h1{
   color: darkblue;
   font-size: 32px;
}

h2{
   color: rgb(0, 100, 0); 
   font-size: 24px; 
   
}

a {
   text-decoration: none;
   color: red;
}
a:hover {
   color: black;
}



/* Custom design with class */

.container {
	width: 700px;
	margin: 30px auto;
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: Opx 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin:20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-green {
	background-color: darkolivegreen;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-green:hover {
	background-color: black;
	color:white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}

#introduction p {
	margin-bottom: 40px;
}




















